[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
pylance = "*"

[requires]
python_version = "3.10"
